/* add your CSS here */
body {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 14px;
}

body > div {
	border: 1px solid rgba(199,199,199,1);
	box-shadow: 6px 7px 0px 1px rgba(230, 230, 230, 0.58);
	width: 300px;
	padding: 5px;
	background-color: #e0dbbb;
}

h3 {
	font-size: 26px;
	font-weight: bold;
	border: 1px;
}

h3 + img {
	padding-bottom: 10px;
}

.description {
	border: 1px solid rgba(199,199,199,1);
	padding: 20px 10px 20px 10px;
}

.description > p:first-child {
	font-style: italic;
}

.description li span {
	font-weight: bold;
}


